<section class="shout-tabs">
  <div class="container container--no-margin-top">
    <ul class="accordion-tabs-minimal">
      <li class="tab-header-and-content">
        <a href="#" class="tab-link is-active">
          <span class="tab-link--big">12 ⭐️</span>
          <span class="tab-link--small">received</span>
        </a>
        <div class="tab-content">
          <% @shouts.each do |shout| %>
            <%= render shout =%>
          <% end %>
        </div>
      </li>
      <li class="tab-header-and-content">
        <a href="#" class="tab-link">
          <span class="tab-link--small">sent</span>
          <span class="tab-link--big">102 ⭐️</span>
        </a>
        <div class="tab-content">
          <% @user.sent_shouts.each do |shout| %>
            <%= render shout %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</section>
