<% content_for :header_class, "header--is-opaque" %>


<%= form_for [current_user, Shout.new] do |f| %>
<div class="new-shout">
  <div class="container">
  <div class="new-shout__title">Give kudos to someone:</div>
  <%= f.text_area :message, placeholder: "Send a star to @twitteraccount", class: "new-shout__textarea" %>
  <div class="new-shout__button-wrapper">
    <%= f.submit 'Save', class: "button button--primary" %>
  </div>
  </div>
</div>
<% end %>
