---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic ZnBpUzhZSXFHaTNKVUJHMkM1d0FRa2hJOTpKVFpIOVhKNVpVVXhBeVV2SEZHNHVQTEpUblhmS0l5YlM4aTZaUFFSQ0pUM0Zzd3dnWA==
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 22 Oct 2016 19:56:00 GMT
      Ml:
      - A
      Status:
      - 200 OK
      X-Connection-Hash:
      - 6a6645f1fb86351210046d69198454a5
      X-Response-Time:
      - '146'
      X-Transaction:
      - 00acabd500691755
      X-Tsa-Request-Body-Time:
      - '3'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAAChyxgAAAAAA01SFyzEXmJQTTXERpvdSvVVNoEQ%3DMUjSR05Gi2kY4xFqSyJPpWfa8gtIGky1PGISrea0MBPy2cTXos"}'
  recorded_at: Sat, 22 Oct 2016 19:56:00 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=lunks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAChyxgAAAAAA01SFyzEXmJQTTXERpvdSvVVNoEQ%3DMUjSR05Gi2kY4xFqSyJPpWfa8gtIGky1PGISrea0MBPy2cTXos
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 22 Oct 2016 19:56:00 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 69045cdc99f7f350a62ac6dffda65cfa
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '894'
      X-Rate-Limit-Reset:
      - '1477166220'
      X-Response-Time:
      - '155'
      X-Transaction:
      - 0056445a000f8042
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"id":14829016,"id_str":"14829016","name":"Lunks","screen_name":"Lunks","location":"Rio
        de Janeiro, RJ","profile_location":null,"description":"Cleaning lady at DunnoApp","url":"http:\/\/t.co\/0GYAjUUM9w","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/0GYAjUUM9w","expanded_url":"http:\/\/www.rebelmouse.com\/pedronascimento","display_url":"rebelmouse.com\/pedronascimento","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":889,"friends_count":553,"listed_count":32,"created_at":"Mon
        May 19 05:27:42 +0000 2008","favourites_count":849,"utc_offset":-7200,"time_zone":"Brasilia","geo_enabled":true,"verified":false,"statuses_count":12598,"lang":"en","status":{"created_at":"Wed
        Aug 31 16:28:30 +0000 2016","id":771021858980454401,"id_str":"771021858980454401","text":"@jack_kelly
        @dangpzanco hey, just a heads-up that this thesis is not mine. I''m also named
        Pedro Nascimento but it''s not me. :)","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"jack_kelly","name":"jack_kelly","id":16001082,"id_str":"16001082","indices":[0,11]},{"screen_name":"dangpzanco","name":"Daniel","id":39848734,"id_str":"39848734","indices":[12,23]}],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":770863328356929536,"in_reply_to_status_id_str":"770863328356929536","in_reply_to_user_id":16001082,"in_reply_to_user_id_str":"16001082","in_reply_to_screen_name":"jack_kelly","geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"1A1B1F","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/39123735\/full.jpg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/39123735\/full.jpg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/182891645\/2054751559_16b8a72e33_bigger_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/182891645\/2054751559_16b8a72e33_bigger_normal.jpg","profile_link_color":"FF9500","profile_sidebar_border_color":"FF9500","profile_sidebar_fill_color":"FFFFFF","profile_text_color":"000000","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"regular"}'
  recorded_at: Sat, 22 Oct 2016 19:56:00 GMT
recorded_with: VCR 3.0.3
