---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic ZnBpUzhZSXFHaTNKVUJHMkM1d0FRa2hJOTpKVFpIOVhKNVpVVXhBeVV2SEZHNHVQTEpUblhmS0l5YlM4aTZaUFFSQ0pUM0Zzd3dnWA==
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 23 Oct 2016 02:41:33 GMT
      Ml:
      - A
      Status:
      - 200 OK
      X-Connection-Hash:
      - 2deccae9d6f04345cc1d00eb51f3b7b8
      X-Response-Time:
      - '155'
      X-Transaction:
      - 004e4b720076167e
      X-Tsa-Request-Body-Time:
      - '1'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAAChyxgAAAAAA01SFyzEXmJQTTXERpvdSvVVNoEQ%3DMUjSR05Gi2kY4xFqSyJPpWfa8gtIGky1PGISrea0MBPy2cTXos"}'
  recorded_at: Sun, 23 Oct 2016 02:41:33 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=@pedro
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAChyxgAAAAAA01SFyzEXmJQTTXERpvdSvVVNoEQ%3DMUjSR05Gi2kY4xFqSyJPpWfa8gtIGky1PGISrea0MBPy2cTXos
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 23 Oct 2016 02:41:33 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 114b62084fcc9bfe825fc7effd18ca1b
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '899'
      X-Rate-Limit-Reset:
      - '1477191393'
      X-Response-Time:
      - '151'
      X-Transaction:
      - 003ae3ee00d7c874
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"id":51658026,"id_str":"51658026","name":"Pedro Caldas","screen_name":"pedro","location":"Laniakea","profile_location":null,"description":"Mythologically
        correct.","url":"https:\/\/t.co\/8Xz7jMaTxy","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/8Xz7jMaTxy","expanded_url":"http:\/\/instagram.com\/pedroivocaldas","display_url":"instagram.com\/pedroivocaldas","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":1369,"friends_count":173,"listed_count":138,"created_at":"Sun
        Jun 28 05:17:18 +0000 2009","favourites_count":77,"utc_offset":-7200,"time_zone":"Brasilia","geo_enabled":false,"verified":false,"statuses_count":1694,"lang":"en","status":{"created_at":"Sat
        Oct 22 15:24:35 +0000 2016","id":789849940809900032,"id_str":"789849940809900032","text":"Group
        activities are always a reminder of how shy or antisocial I am.","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"http:\/\/www.twitter.com\" rel=\"nofollow\"\u003eTwitter for Windows\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"DD2E44","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/559237538468999169\/BQoKlqfk.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/559237538468999169\/BQoKlqfk.png","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/786336530537283584\/gVLWA7Mw_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/786336530537283584\/gVLWA7Mw_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/51658026\/1473637362","profile_link_color":"000000","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"FFFFFF","profile_text_color":"666461","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"regular"}'
  recorded_at: Sun, 23 Oct 2016 02:41:33 GMT
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=@krystal
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAChyxgAAAAAA01SFyzEXmJQTTXERpvdSvVVNoEQ%3DMUjSR05Gi2kY4xFqSyJPpWfa8gtIGky1PGISrea0MBPy2cTXos
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;cha[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=@foo_bar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAChyxgAAAAAA01SFyzEXmJQTTXERpvdSvVVNoEQ%3DMUjSR05Gi2kY4xFqSyJPpWfa8gtIGky1PGISrea0MBPy2cTXos
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;cha[...]
