@import url('https://fonts.googleapis.com/css?family=Raleway:300i,400,900');

html,
body {
  font-family: 'Roboto', sans-serif;
}

h1 { font-weight: bold; }

h2 { font-weight: lighter; }

a {
  color: inherit;
  text-decoration: none;
}
