$main-color: #ff4b20;
$main-color2: #ff3945;
$secondary-color: #adee25; //#B3FF15;
$contrast-color: #fff;
$twitter-color: #55acee;
$text-color: #4a4a4a;
$black: #000;

$base-border-radius: 3px;
$base-font-family: 'Roboto', sans-serif;
