---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic ZnBpUzhZSXFHaTNKVUJHMkM1d0FRa2hJOTpKVFpIOVhKNVpVVXhBeVV2SEZHNHVQTEpUblhmS0l5YlM4aTZaUFFSQ0pUM0Zzd3dnWA==
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 23 Oct 2016 14:59:00 GMT
      Ml:
      - A
      Status:
      - 200 OK
      X-Connection-Hash:
      - b73e9bb5f7abfa889bcd5972ca0154e4
      X-Response-Time:
      - '145'
      X-Transaction:
      - 00983d0d0053e775
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAAChyxgAAAAAA01SFyzEXmJQTTXERpvdSvVVNoEQ%3DMUjSR05Gi2kY4xFqSyJPpWfa8gtIGky1PGISrea0MBPy2cTXos"}'
  recorded_at: Sun, 23 Oct 2016 14:59:00 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=krystalcampionishkshkdhs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAChyxgAAAAAA01SFyzEXmJQTTXERpvdSvVVNoEQ%3DMUjSR05Gi2kY4xFqSyJPpWfa8gtIGky1PGISrea0MBPy2cTXos
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sun, 23 Oct 2016 14:59:00 GMT
      Status:
      - 404 Not Found
      X-Connection-Hash:
      - e426fcb26350202658df6a9074e51b28
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '864'
      X-Rate-Limit-Reset:
      - '1477235578'
      X-Response-Time:
      - '140'
      X-Transaction:
      - 0010f7a9007ec29c
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":50,"message":"User not found."}]}'
  recorded_at: Sun, 23 Oct 2016 14:59:00 GMT
recorded_with: VCR 3.0.3
