---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic ZnBpUzhZSXFHaTNKVUJHMkM1d0FRa2hJOTpKVFpIOVhKNVpVVXhBeVV2SEZHNHVQTEpUblhmS0l5YlM4aTZaUFFSQ0pUM0Zzd3dnWA==
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 22 Oct 2016 19:53:40 GMT
      Ml:
      - A
      Status:
      - 200 OK
      X-Connection-Hash:
      - 83b4a79bb4d271d8dfc998d96d657819
      X-Response-Time:
      - '148'
      X-Transaction:
      - 004f804000c06115
      X-Tsa-Request-Body-Time:
      - '1'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAAChyxgAAAAAA01SFyzEXmJQTTXERpvdSvVVNoEQ%3DMUjSR05Gi2kY4xFqSyJPpWfa8gtIGky1PGISrea0MBPy2cTXos"}'
  recorded_at: Sat, 22 Oct 2016 19:53:40 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=krystalcampionishkshkdhs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAChyxgAAAAAA01SFyzEXmJQTTXERpvdSvVVNoEQ%3DMUjSR05Gi2kY4xFqSyJPpWfa8gtIGky1PGISrea0MBPy2cTXos
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 22 Oct 2016 19:53:41 GMT
      Status:
      - 404 Not Found
      X-Connection-Hash:
      - 6102d8d55f969ac8e1af858927204451
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '896'
      X-Rate-Limit-Reset:
      - '1477166220'
      X-Response-Time:
      - '140'
      X-Transaction:
      - 00bf4aae0006ddcf
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":50,"message":"User not found."}]}'
  recorded_at: Sat, 22 Oct 2016 19:53:41 GMT
recorded_with: VCR 3.0.3
