---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic ZnBpUzhZSXFHaTNKVUJHMkM1d0FRa2hJOTpKVFpIOVhKNVpVVXhBeVV2SEZHNHVQTEpUblhmS0l5YlM4aTZaUFFSQ0pUM0Zzd3dnWA==
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 23 Oct 2016 14:58:59 GMT
      Ml:
      - A
      Status:
      - 200 OK
      X-Connection-Hash:
      - 574430f36abc1d0924d94c4ced908af4
      X-Response-Time:
      - '146'
      X-Transaction:
      - 00aff92200b77bc8
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAAChyxgAAAAAA01SFyzEXmJQTTXERpvdSvVVNoEQ%3DMUjSR05Gi2kY4xFqSyJPpWfa8gtIGky1PGISrea0MBPy2cTXos"}'
  recorded_at: Sun, 23 Oct 2016 14:58:59 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=krystalcampioni
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAChyxgAAAAAA01SFyzEXmJQTTXERpvdSvVVNoEQ%3DMUjSR05Gi2kY4xFqSyJPpWfa8gtIGky1PGISrea0MBPy2cTXos
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 23 Oct 2016 14:59:00 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - c56b9e2e66b60fe359ec0d2f5d165ff6
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '865'
      X-Rate-Limit-Reset:
      - '1477235578'
      X-Response-Time:
      - '158'
      X-Transaction:
      - 0017e7010037c4e2
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"id":2853981112,"id_str":"2853981112","name":"Krystal Campioni","screen_name":"krystalcampioni","location":"S\u00e3o
        Paulo, Brasil","profile_location":{"id":"68e019afec7d0ba5","url":"https:\/\/api.twitter.com\/1.1\/geo\/id\/68e019afec7d0ba5.json","place_type":"unknown","name":"S\u00e3o
        Paulo, Brasil","full_name":"S\u00e3o Paulo, Brasil","country_code":"","country":"","contained_within":[],"bounding_box":null,"attributes":{}},"description":"Freelance
        Designer and Front-end Developer. Tech, design, and video game enthusiast.
        || EN & PT-BR","url":"http:\/\/t.co\/jL2gcSoYsV","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/jL2gcSoYsV","expanded_url":"http:\/\/www.krystalcampioni.com","display_url":"krystalcampioni.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":37678,"friends_count":33185,"listed_count":249,"created_at":"Fri
        Oct 31 23:01:11 +0000 2014","favourites_count":453,"utc_offset":-25200,"time_zone":"America\/Vancouver","geo_enabled":false,"verified":false,"statuses_count":621,"lang":"en","status":{"created_at":"Thu
        Oct 20 21:08:54 +0000 2016","id":789211814898855936,"id_str":"789211814898855936","text":"RT
        @rachsmithtweets: I always still use my hands to talk when I''m sharing my
        screen on a video call and no one can see me lol","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"rachsmithtweets","name":"Rach
        Smith\ud83c\udf08\ud83c\udf08\ud83c\udf08","id":22354434,"id_str":"22354434","indices":[3,19]}],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Thu
        Oct 20 20:15:56 +0000 2016","id":789198485765566465,"id_str":"789198485765566465","text":"I
        always still use my hands to talk when I''m sharing my screen on a video call
        and no one can see me lol","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":3,"favorite_count":29,"favorited":false,"retweeted":false,"lang":"en"},"is_quote_status":false,"retweet_count":3,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/779276930709393408\/fVyN5kO8_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/779276930709393408\/fVyN5kO8_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2853981112\/1470519366","profile_link_color":"3B94D9","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"}'
  recorded_at: Sun, 23 Oct 2016 14:59:00 GMT
recorded_with: VCR 3.0.3
