---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic ZnBpUzhZSXFHaTNKVUJHMkM1d0FRa2hJOTpKVFpIOVhKNVpVVXhBeVV2SEZHNHVQTEpUblhmS0l5YlM4aTZaUFFSQ0pUM0Zzd3dnWA==
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 23 Oct 2016 14:58:54 GMT
      Ml:
      - A
      Status:
      - 200 OK
      X-Connection-Hash:
      - 74b1f78fe38485999b344d9c2967adba
      X-Response-Time:
      - '152'
      X-Transaction:
      - 004f7e9100d64f45
      X-Tsa-Request-Body-Time:
      - '1'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAAChyxgAAAAAA01SFyzEXmJQTTXERpvdSvVVNoEQ%3DMUjSR05Gi2kY4xFqSyJPpWfa8gtIGky1PGISrea0MBPy2cTXos"}'
  recorded_at: Sun, 23 Oct 2016 14:58:55 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=krystal
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAChyxgAAAAAA01SFyzEXmJQTTXERpvdSvVVNoEQ%3DMUjSR05Gi2kY4xFqSyJPpWfa8gtIGky1PGISrea0MBPy2cTXos
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 23 Oct 2016 14:58:55 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 3ca75afa5940904427b7e8694f2fd7c7
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '870'
      X-Rate-Limit-Reset:
      - '1477235578'
      X-Response-Time:
      - '154'
      X-Transaction:
      - 000897a30075e9e6
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"id":14336286,"id_str":"14336286","name":"Krystal","screen_name":"Krystal","location":"11
        States, 387 locations","profile_location":null,"description":"Welcome to the
        Official Krystal Twitter page. Curing your Krystal cravings since 1932, in
        over 350 locations across the South. #LetsKrystal","url":"http:\/\/t.co\/3VQiWtMxPf","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/3VQiWtMxPf","expanded_url":"http:\/\/krystal.com","display_url":"krystal.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":11432,"friends_count":7162,"listed_count":303,"created_at":"Tue
        Apr 08 21:21:23 +0000 2008","favourites_count":1526,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":26157,"lang":"en","status":{"created_at":"Fri
        Oct 21 19:06:12 +0000 2016","id":789543324915040257,"id_str":"789543324915040257","text":"@jasonbayer3
        It''s a true match made in heaven!  \ud83d\ude09","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"jasonbayer3","name":"Gus
        Must Go","id":704375905607614465,"id_str":"704375905607614465","indices":[0,12]}],"urls":[]},"source":"\u003ca
        href=\"https:\/\/manager.agorapulse.com\" rel=\"nofollow\"\u003eAgoraPulse
        Manager\u003c\/a\u003e","in_reply_to_status_id":789539263843016705,"in_reply_to_status_id_str":"789539263843016705","in_reply_to_user_id":704375905607614465,"in_reply_to_user_id_str":"704375905607614465","in_reply_to_screen_name":"jasonbayer3","geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":1,"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"FFFFFF","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/378800000092010883\/ca43c0f453183c5bfaa94c77ae2c9b91.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/378800000092010883\/ca43c0f453183c5bfaa94c77ae2c9b91.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/574922515128045569\/2CBSa01P_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/574922515128045569\/2CBSa01P_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/14336286\/1476101681","profile_link_color":"DB1515","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"FFFFF7","profile_text_color":"221B1B","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"}'
  recorded_at: Sun, 23 Oct 2016 14:58:55 GMT
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=foo_bar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAChyxgAAAAAA01SFyzEXmJQTTXERpvdSvVVNoEQ%3DMUjSR05Gi2kY4xFqSyJPpWfa8gtIGky1PGISrea0MBPy2cTXos
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;char[...]
