.banner {
  @include linear-gradient($main-color, $main-color2);
  color: $contrast-color;
  float: left;
  text-align: center;
  width: 100%;

  &__content {
    @include span-columns(12 of 12);
    padding: 90px 10px 60px;

    @include media($medium-screen-up) {
      @include span-columns(6 of 12);
      @include shift(3);
    }
  }
}
