$buttons: 'button', 'input[type="submit"]';

#{$buttons} {
  @include appearance(none);
  cursor: pointer;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button {
  @include transition(.2s);
  border: 0;
  border-radius: $base-border-radius;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: rem(14);
  font-weight: normal;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;

  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }

  &--primary {
    background: darken($secondary-color, 20%);
    color: $contrast-color;

    &:hover {
      background: darken($secondary-color, 30%);
      color: $contrast-color;
    }
  }

  &--secondary {
    border: 1px solid $contrast-color;
    color: $contrast-color;

    &:hover {
      background: $contrast-color;
      color: $main-color;
    }
  }

  &--twitter {
    background: transparent image-url('ic-twitter.svg') no-repeat scroll 6px 7px / 20px auto;
    border: 1px solid $contrast-color;
    color: $contrast-color;
    padding: 10px 25px 10px 35px;

    &:hover {
      background-color: $twitter-color;
    }
  }
}
