.header {
  @include transition(all .5s ease-in-out);
  background: transparent;
  color: $contrast-color;
  height: 60px;
  padding: 0 10px;
  position: fixed;
  width: 100%;
  z-index: 10;

  &--is-opaque {
    @include linear-gradient($main-color, $main-color2);
  }

  &__content {
    @include outer-container;
  }
}
