.new-shout {
  background: $secondary-color;
  bottom: 0;
  padding: 10px 0;
  position: fixed;
  width: 100%;

  .button {
    float: left;
    font-size: 20px;
    font-weight: bold;
    height: 54px;
    letter-spacing: 1px;
    width: 100%;
  }

  &__button-wrapper {
    float: left;
    padding-left: 10px;
    width: 110px;

    @include media($medium-screen-up) {
      padding-right: 50px;
      width: 200px;
    }
  }

  &__title {
    color: darken($secondary-color, 30%);
    display: none;
    float: left;
    font-size: 24px;
    font-weight: lighter;
    line-height: 1.2;
    padding-left: 50px;
    padding-right: 12px;
    text-align: right;

    @include media($medium-screen-up) {
      display: block;
      width: 200px;
    }
  }

  &__textarea {
    @include appearance(none);
    border: 0;
    border-radius: 3px;
    float: left;
    font-size: 14px;
    outline: none;
    padding: 10px;
    resize: none;
    width: calc(100% - 110px);

    @include media($medium-screen-up) {
      width: calc(100% - 400px);
    }
  }
}
