.new-shout {
  background: $secondary-color;
  bottom: 0;
  padding: 10px 0;
  position: fixed;
  width: 100%;

  .button {
    float: left;
    font-size: 20px;
    font-weight: bold;
    height: 54px;
    letter-spacing: 1px;
    width: 100%;
  }

  &__button-wrapper {
    float: left;
    padding-left: 10px;
    width: 110px;

    @include media($mobile) {
      margin-top: 10px;
      padding: 0;
      width: 100%;
    }

    @include media($medium-screen-up) {
      padding-right: 0;
      width: 120px;
    }
  }

  &__title {
    color: darken($secondary-color, 30%);
    display: none;
    float: left;
    font-size: 24px;
    font-weight: lighter;
    line-height: 1.2;
    padding-left: 50px;
    padding-right: 12px;
    text-align: right;

    @include media($medium-screen-up) {
      display: block;
      font-size: 15px;
      width: 145px;
    }
  }

  &__textarea {
    @include appearance(none);
    border: 0;
    border-radius: 3px;
    float: left;
    font-size: 14px;
    outline: none;
    padding: 10px;
    resize: none;
    width: 100%;
  }

  .emoji-picker-container {
    @include appearance(none);
    background: $contrast-color;
    border: 0;
    border-radius: 3px;
    float: left;
    font-size: 14px;
    height: 55px;
    outline: none;
    padding: 0;
    resize: none;
    width: calc(100% - 110px);

    @include media($mobile) {
      padding: 0;
      width: 100%;
    }

    @include media($medium-screen-up) {
      width: calc(100% - 400px);
    }
  }
}

.emoji-menu {
  margin-left: -196px;
  margin-top: -250px;
}

.emoji-picker-icon {
  margin: 5px;
}
