.accordion-tabs-minimal {
  $base-background-color: #fff !default;
  $base-spacing: 1.5em !default;
  $action-color: #477dca !default;
  $dark-gray: #333 !default;
  $medium-screen: 40em !default;
  $tab-link-color: $dark-gray;
  $tab-active-background: $base-background-color;
  $tab-inactive-color: $base-background-color;
  $tab-inactive-hover-color: #c0c0c0;
  $tab-mode: $medium-screen;

  @include clearfix;
  margin-top: 0;
  padding: 0;
  text-align: center;

  .tab-header-and-content {
    display: inline;
  }

  .tab-link {
    color: $contrast-color;
    display: inline-block;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;

    &--big {
      float: left;
      font-size: 26px;
      font-weight: bold;
      line-height: .9;
      width: 100%;
    }

    &--small {
      float: left;
      font: 14px;
      width: 100%;
    }

    &:hover {
      color: rgba($black, .3);
    }

    &:focus {
      outline: none;
    }

    &.is-active {
      background-color: rgba($black, .3);
      color: $contrast-color;
      margin-bottom: -1px;
    }
  }

  .tab-content {
    display: none;
    float: left;
    padding: $base-spacing $gutter;
    width: 100%;
  }
}
