.accordion-tabs-minimal {
  $base-background-color: #fff !default;
  $base-spacing: 1.5em !default;
  $action-color: #477dca !default;
  $dark-gray: #333 !default;
  $medium-screen: 40em !default;
  $tab-link-color: $dark-gray;
  $tab-active-background: $base-background-color;
  $tab-inactive-color: $base-background-color;
  $tab-inactive-hover-color: #c0c0c0;
  $tab-mode: $medium-screen;

  @include clearfix;
  line-height: 1.5;
  padding: 0;
  margin-top: 0;

  .tab-header-and-content {
    display: inline;
  }

  .tab-link {
    color: $contrast-color;
    display: inline-block;
    padding: ($base-spacing / 2) $gutter;
    text-decoration: none;

    &:hover {
      color: rgba($black, 0.3);
    }

    &:focus {
      outline: none;
    }

    &.is-active {
    	background-color: rgba($black, 0.3);
      color: $contrast-color;
      margin-bottom: -1px;
    }
  }

  .tab-content {
    display: none;
    padding: $base-spacing $gutter;
    width: 100%;
    float: left;
  }
}
