.user {
  &__nickname {
    color: $text-color;
    font-size: 18px;
    padding: 18px 0;
  }

  &__menu {
    float: right;
  }

  &__img {
    border: 5px solid rgba($text-color, .5);
    border-radius: 50%;
    margin-top: 60px;
  }

  &__logout {
    background: image-url('ic-logout.svg');
    background-repeat: no-repeat;
    color: $text-color;
    padding-left: 30px;
    text-decoration: none;
  }
}
