<article class="shout">
  <div class="shout__text">
    <div class="shout__badge">
      ⭐️
    </div>
    <p>
      <b>@JoseAlfredo</b> Curabitur lobortis id lorem id bibendum. Ut id consectetur magna.
    </p>
  </div>
  <address class="shout__address">
    <b>@swallace</b> sent on 04/12/2016
  </address>
  <div class="reactions">
    <div class="reactions__count">
      <span></span>
      000
    </div>
  </div>
</article>
