<article class="shout">
  <div class="shout__text">
    <div class="shout__badge">
      ⭐️
    </div>
    <p>
      <b>@JoseAlfredo</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
    </p>
  </div>
  <address class="shout__address">
    <b>@swallace</b> sent on 04/12/2016
  </address>
  <div class="reactions">
    <span class="reactions__emoji">❤️</span>
    <span class="reactions__count">000</span>
  </div>
  <div class="reactions">
    <span class="reactions__emoji">❤️</span>
    <span class="reactions__count">000</span>
  </div>
  <div class="reactions">
    <span class="reactions__emoji">❤️</span>
    <span class="reactions__count">000</span>
  </div>
  <div class="reactions reactions--button">Add reaction </div>
</article>
