<article>
  <p>
    @JoseAlfredo Curabitur lobortis id lorem id bibendum. Ut id consectetur magna.
  </p>
  <address>
    @swallace sent on 04/12/2016
  </address>
  <div class="reactions">
    <div class="reactions__count">
      <span></span>
      000
    </div>
  </div>
</article>
