<div class="banner">
  <div class="banner__content">
    <h1>Shout kudos to someone</h1>
    <h2>Send somebody a shout and let the world know that the person did something awesome</h2>
    <% if current_user %>
    <% else %>
      <%= link_to 'Login with Twitter', '/auth/twitter', class: "button button--twitter" %>
    <% end %>
  </div>
</div>

<% Shout.order(created_at: :desc).limit(5).each do |shout| %>
    <%= render shout =%>
<% end %>
