<div class="banner">
  <div class="container">
    <h1>Lorem ipsum dolor sit amet</h1>
    <h2>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</h2>    <button class="button button--twitter">Login with Twitter</button>
  </div>
</div>
