<!DOCTYPE html>
<html>
  <head>
    <title>Rubyrampage2016Shout</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class="header">
      <div class="container">
        <h1 class="header__logo">GimmeStars</h2>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
